:root{
     /* Gap size */
    --space-xs: 0.25em;
    --space-s: 0.4em;
    --space-m: 0.5em;
    --space-l: 0.75em;
    --space-xl: 0.9em;

    /* Font size */
    --font-bigger : 3rem;
    --font-title: 2rem;
    --font-text: 1rem;
    --font-enphasis: 0.8rem;

    /* height size */
    --height-xxl : 4rem;
    --height-xl : 3rem;
    --height-l : 2rem;
    --height-m : 1rem;

    /* Width size */
    --width-xl : 100%;
    --width-l : 80%;
    --width-title : 3rem;

    /* Border radius */
    --border-radius : 2rem;

}

body {
    padding: 1.5rem 1.5rem;
    box-sizing: border-box;
}

.qui-paie-quoi{
    text-wrap: wrap;
    width: var(--width-title);
}

.flash-message{
    justify-content: center;
    display: flex;
    margin: var(--space-m);
}

.flash-success{
    font-size: var(--font-title);
    text-align: center;
    align-content: center;
    height: var(--height-m);
    width: var(--width-l);
    border: solid 1px;
    border-radius: var(--border-radius-xl);
}
    