.group_container{
    font-size: var(--font-title);
    display: grid;
    gap: var(--space-m);
}

.group_title{
    font-size:var(--font-title);
    text-align: center;
    margin: var(--space-s) var(--space-xs);
}

.group_parameter{
    display: flex;
    font-size: var(--font-text);
    gap:var(--space-l);
    justify-content: center;
    margin: var(--space-xs);
}

.group_parameter_active{
    background-color: #2e1e59a6;
    color: #211246;
}

.group_parameter > a {
    font-size: var(--font-title);
    border: solid #2e1e59 2px;
    text-align: center;
    align-content: center;
    height:var(--height-m);
    width: 43%;
    border-radius: 60px;
}

.group_expense_container, .group_balance_container{
    display: flex;
    flex-direction: column;
    font-size: var(--font-title);
    gap: var(--space-xs);
    width: 90%;
    justify-self: center;
}

.group_info_container{
    display: flex;
    flex-direction: column;
    font-size: var(--font-title);
    width: 90%;
    justify-self: center;
}

.group_info_container_general{
    display: flex;
    flex-direction: column;
    font-size: var(--font-title);
    gap: var(--space-xs);
    width: 90%;
    justify-self: center;
}

.group_info_balance, .group_info_expense{
    box-sizing: border-box;
    border: solid #2e1e59 2px;
    width: 100%;
    height: var(--height-l);
    border-radius: 60px;
    align-items: center;
    display: grid;
    padding: 0 14vw;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.group_info{
    box-sizing: border-box;
    border: solid #2e1e59 2px;
    width: 100%;
    height: var(--height-l);
    border-radius: 60px;
    align-items: center;
    display: grid;
    padding: 0vh 14vw;
    justify-content: space-around;
    font-size: var(--font-title);
}

.group_info_text{
    font-size: var(--font-title);
    text-align: left;
}

.group_info_amount{
    font-size: var(--font-title);
    width: 100%;
    text-align: right;
}

.group_info_payer{
    font-size: var(--font-text);
}

.group_info>p{
    align-content: center;
}

a{
    text-decoration: none;
}

.group_container_header{
    display: grid;
    height: var(--height-xxl);
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.back_arrow{
    justify-self: center;
    align-self: center;
}

.back_arrow>img{
    height: var(--height-l);
}