.group_container{
    font-size: 2rem;
    display: grid;
    gap: 1em;
}

.group_title{
    font-size:2rem;
    text-align: center;
    margin: var(--space-s) var(--space-xs);
}

.group_parameter{
    display: flex;
    font-size: var(--space-m);
    gap:var(--space-l);
    justify-content: center;
    margin: var(--space-xs);
}

.group_parameter_active{
    background-color: #2e1e59a6;
    color: #211246;
}

.group_parameter > div{
    font-size: 2rem;
    border: solid #2e1e59 2px;
    text-align: center;
    align-content: center;
    height:var(--space-l);
    width: 43%;
    border-radius: 60px;
}

.group_info_container{
    display: flex;
    flex-direction: column;
    font-size: var(--space-m);
    row-gap: var(--space-xs);
    width: 90%;
    justify-self: center;
}

.group_info{
    box-sizing: border-box;
    border: solid #2e1e59 2px;
    width: 100%;
    height: var(--space-xl);
    border-radius: 60px;
    text-align: center;
    display: grid;
    padding: 0vh 14vw;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

.group_info_text{
    font-size: var(--space-s);
    text-align: left;
}

.group_info_amount{
    font-size: var(--space-s);
    width: 100%;
    text-align: right;
}

.group_info_payer{
    font-size: var(--space-xs);
    align-content: center;
    text-align: left;
}

.group_info>p{
    align-content: center;
}

a{
    text-decoration: none;
}