#authentication_form{
    display: flex;
    width: 100%;
    flex-direction: column;
    footer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 1;
    }
}

.authentication_form_title{
    font-size: var(--font-bigger);
    text-align: center;
    margin: var(--space-l) 0;
}

.authentication_form_field{
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin-bottom: var(--space-m);
}

label{
    font-size: var(--font-text-l);
    margin-bottom: var(--space-xs);
}

button{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    font-size: var(--font-text-l);
    height: var(--height-xl);
    width: var(--width-xl);
    border-radius: var(--border-radius);
    margin-top: var(--space-xl);
}

input{
    height: var(--height-l);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-secondary);
}

.authentication_form_redirect{
    font-size: var(--font-text);
    text-align: center;
    padding-top: var(--space-m);
}

.authentication_form_error{
    font-size: var(--font-title);
}