form{
    width: 80%;
}

#signup_form{
    display: flex;
    justify-content: center;
}

.signup_form_title{
    font-size: var(--font-bigger);
    text-align: center;
    margin: var(--space-l) 0;
}

.signup_form_li{
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-bottom: var(--space-m);
}

label{
    font-size: var(--font-title);
    margin-bottom: var(--space-xs);
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
    color: white;
    background-color: #38256C;
    font-size: var(--font-title);
    height: var(--height-xl);
    width:  var(--width-xl);
    border-radius: var(--border-radius);
    margin-top: var(--space-xl);
}

button:hover{
    background-color: #211246;
}

input{
    height: var(--height-l);
    border: 1px solid grey;
    border-radius: var(--border-radius);
    font-size: var(--font-text);
}

.signup_form_redirect{
    font-size: var(--font-title);
    text-align: center;
}

.signup_form_error{
    color: red;
}