:root{
    --space-xs: 0.5em;
    --space-s: 0.8em;
    --space-m: 1em;
    --space-l: 1.5em;
    --space-xl: 1.8em;

    font-size: 35px;
}

.group_container{
    font-size: 1em;
    display: grid;
    gap: 1em;
}

.group_title{
    font-size:1em;
    text-align: center;
    margin: var(--space-s) var(--space-xs);
}

.group_parameter{
    display: flex;
    font-size: var(--space-m);
    gap:var(--space-l);
    justify-content: center;
    margin: var(--space-xs);
}

.group_parameter_active{
    background-color: #2e1e59a6;
    color: #211246;
}

.group_parameter > div{
    font-size: 1em;
    border: solid #2e1e59 2px;
    text-align: center;
    align-content: center;
    height:var(--space-l);
    width: 43%;
    border-radius: 60px;
}

.group_info_container{
    display: flex;
    flex-direction: column;
    font-size: var(--space-m);
    row-gap: var(--space-xs);
    width: 90%;
    justify-self: center;
}

.group_info{
    border: solid #2e1e59 2px;
    width: 100%;
    height: var(--space-xl);
    border-radius: 60px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.group_info_text{
    font-size: var(--space-s);
    text-align: left;
    width: 63%;
    margin-left: var(--space-m);
}

.group_info_amount{
    font-size: var(--space-s);
    width: 20%;
    margin-left: var(--space-m);
    text-align: left;
}

.group_info>p{
    align-content: center;
}