{% extends "base.html.twig" %}

{% trans_default_domain 'groups' %}

{% block stylesheets %}
  <link rel="stylesheet" href="/css/groupPage.css">
{% endblock %}

{% block body %}
  <div class="group_container">

      <h2 class="group_title"> {{ user.username }}</h2>
     
      <div class="group_info_container_general">

        {% if groups is empty %}

          <p class="group_is_empty">Vous n'appartenez à aucun groupe</p>

        {% else %}
          {% for group in groups %}

            <a class="group_info" href="{{ path ('group_balance', {id:group.id}) }}">
              {{group.name}}
            </a>

          {% endfor %}
        {% endif %}
        
      </div> 
  </div> 

  <footer class="add_group_footer">
    <a class="add_group_button" href="{{ path ('groups_add')}}">Ajouter un groupe</a>
  </footer>
  
{% endblock %}